@model IEnumerable<TFS_API.Models.ViewModels.StockLocationVM.AbstractSubStockLocationVM>


<table class="table">
    <tr>
        <th>
            StoreName
        </th>
        <th>
            SKU Description
        </th>
        <th>
            Quantity
        </th>
        <th>
            Quantity in transit
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.store_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.stock_in_transit_to_remote_store)
        </td>
    </tr>
}

</table>
