<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br> <h2 style="color:#0fad00">Success</h2>
            <img src="~/Content/Images/4c9816379c.png" width="200px" height="200px"/>
            <p style="font-size:20px;color:#5C5C5C;">This verifies that the authentication API is working as expected.</p>
            <br><br>
        </div>
        
	</div>
</div>