<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=TFS-spqsqllog1;Initial Catalog=tofs_api_live;Persist Security Info=True;User ID=auth;Password=Luka1lucy2!" providerName="System.Data.SqlClient" />
    <add name="EPOSDataConnection" connectionString="metadata=res://*/EPOSDataModel.csdl|res://*/EPOSDataModel.ssdl|res://*/EPOSDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TFS-WEBDEV;initial catalog=TFS-CS-DEV;persist security info=True;user id=tfswebdev;password=Luka1lucy2!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Mi9DBEntities" connectionString="metadata=res://*/Mi9DataModel.csdl|res://*/Mi9DataModel.ssdl|res://*/Mi9DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-vmmdb01-prod;initial catalog=mi9_mms_fs_live;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="tfs_customer_liveEntities" connectionString="metadata=res://*/CustomerDataModel.csdl|res://*/CustomerDataModel.ssdl|res://*/CustomerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-vmmdb01-prod;initial catalog=tfs_customer_live;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="mi9_mms_fs_trainEntities" connectionString="metadata=res://*/mi9_test_entities.csdl|res://*/mi9_test_entities.ssdl|res://*/mi9_test_entities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-vmmdb01-prod;initial catalog=mi9_mms_fs_train;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="auditEntities" connectionString="metadata=res://*/AuditModel.csdl|res://*/AuditModel.ssdl|res://*/AuditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-vmmdb01-prod;initial catalog=tfs_api_audit_live;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="piDBContext" connectionString="metadata=res://*/PICountModel.csdl|res://*/PICountModel.ssdl|res://*/PICountModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-vmmdb01-prod;initial catalog=tfs_pi_count_test;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ErrorDBContext" connectionString="metadata=res://*/ErrorViewModelData.csdl|res://*/ErrorViewModelData.ssdl|res://*/ErrorViewModelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TFS-WEBDEV;initial catalog=tofs_api_dev;persist security info=True;user id=webdev;password=Luka1lucy2!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="propDBContext" connectionString="metadata=res://*/PropertyDataModel.csdl|res://*/PropertyDataModel.ssdl|res://*/PropertyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TFS-WEBDEV;initial catalog=tfs_properties_test;persist security info=True;user id=webdev;password=Luka1lucy2!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaskDBContext" connectionString="metadata=res://*/TasksDataModel.csdl|res://*/TasksDataModel.ssdl|res://*/TasksDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-vmmdb01-prod;initial catalog=tfs_hht_live;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProDbContext" connectionString="metadata=res://*/ProcessedModel.csdl|res://*/ProcessedModel.ssdl|res://*/ProcessedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-vmmdb01-prod;initial catalog=tfs_hs_holding;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CCDBContext" connectionString="metadata=res://*/ClickAndCollectDataModel.csdl|res://*/ClickAndCollectDataModel.ssdl|res://*/ClickAndCollectDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TFS-VMMDB01-PROD;initial catalog=tfs_ClickAndCollect_Test;persist security info=True;user id=tfsweb;password=Luka1lucy2;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SparqTestDbContext" connectionString="metadata=res://*/SparqTestDataModel.csdl|res://*/SparqTestDataModel.ssdl|res://*/SparqTestDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BY-EPOSTST1\SPQ_TEST;initial catalog=SPARQ_TEST;persist security info=True;user id=vmrj;password=Luka1lucy2!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CashDbContext" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tfs-spqsqllog1;initial catalog=TFS_CashManagment;persist security info=True;user id=cashDbUser;password=Luka1lucy2!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QueryConnectionString" connectionString="Data Source=tfs-vmmdb01-prod;Initial Catalog=mi9_mms_fs_live;Persist Security Info=True;User ID=query-user;Password=qu3ryus3r!;Application Name=tfs-api" providerName="System.Data.SqlClient" />
    <add name="WarehouseConnectionString" connectionString="Data Source=tfs-data01;Initial Catalog=tfs_stock_movements;Persist Security Info=True;User ID=warehouse_movements;Password=Burnley123!;Application Name=tfs-api" providerName="System.Data.SqlClient" />
   <!--<add name="WarehouseConnectionString" connectionString="Data Source=tfs-data01;Initial Catalog=tfs_stock_movements_test;Persist Security Info=True;User ID=warehouse_movements;Password=Burnley123!;Application Name=tfs-api" providerName="System.Data.SqlClient" />--> 
    <add name="DataWarehouse" connectionString="Data Source=tfs-data01;Initial Catalog=tfs_dwh_live01;Persist Security Info=True;User ID=warehouse_movements;Password=Burnley123!;Application Name=tfs-api" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="C:\TFS_API_LIVE_log.txt" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <!-- DEVELOPMENT, STAGING OR PRODUCTION (LIVE)-->
    <add key="serilog:minimum-level" value="Debug" />
    <add key="vs:EnableBrowserLink" value="false" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.44797" newVersion="2.15.0.44797" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="${basedir}/APILog/${date:format=yyyy-MM-dd}-api.log" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Api Services" />
      <target type="ApplicationInsightsTarget" name="aiTarget" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="eventlog" />
      <logger name="*" minlevel="Trace" writeTo="aiTarget" />
    </rules>
    <extensions>
      <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>
  </nlog>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRetailHubContract" />
        <binding name="BasicHttpBinding_IRetailHubContract1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IRetailHubContract" messageEncoding="Mtom">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IRetailHubContract1" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://a-q-tof.tofs.mi9cloud.com/MI9-WCF-Test/RetailHubService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRetailHubContract" contract="ServiceReference1.IRetailHubContract" name="WSHttpBinding_IRetailHubContract">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://a-q-tof.tofs.mi9cloud.com/MI9-WCF-Test/RetailHubService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRetailHubContract1" contract="ServiceReference1.IRetailHubContract" name="WSHttpBinding_IRetailHubContract1" />
      <endpoint address="http://a-q-tof.tofs.mi9cloud.com/MI9-WCF-Test/RetailHubService.svc/basicHttp" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetailHubContract" contract="ServiceReference1.IRetailHubContract" name="BasicHttpBinding_IRetailHubContract" />
      <endpoint address="https://a-q-tof.tofs.mi9cloud.com/MI9-WCF-Test/RetailHubService.svc/basicHttp" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRetailHubContract1" contract="ServiceReference1.IRetailHubContract" name="BasicHttpBinding_IRetailHubContract1" />
    </client>
  </system.serviceModel>
</configuration>